/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #int-hero {
    min-height: 100vh;
    background: url("/images/property-portrait.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }
  #int-hero:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.8;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #int-hero h2 {
    color: #fff;
    font-size: 2em;
    text-align: center;
    margin: 0;
    position: relative;
  }

  #int-hero h2 span {
    display: block;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #eee;
    letter-spacing: 1.2;
    margin-top: 1rem;
    max-width: 25ch;
    margin-inline: auto;
    font-weight: 400;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #int-hero {
    min-height: 100vh;

    background: url("/images/property-landscape.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem;
  }

  #int-hero h2 {
    font-size: 2.8rem;
    max-width: 25ch;
    font-weight: 600;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  /* #int-hero {
    min-height: 15em;
    height: 15em;
    margin-top: 7.4em;
    background-position: center 80%;
    background-attachment: fixed;
    font-size: inherit;
  } */
  #int-hero {
    min-height: 100vh;
    background: url("/images/property-landscape.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem;
  }

  #int-hero h2 {
    font-size: 3.2rem;
    max-width: 30ch;
    padding-top: 8rem;
    font-weight: 500;
  }

  #int-hero h2 span {
    display: block;
    font-size: 2rem;
    line-height: 1.4;
    color: #eee;
    letter-spacing: 1.2;
    max-width: 40ch;
  }
}
/*-- -------------------------- -->
  <---           About            -->
  <--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #about-content .container {
    padding: 0;
    width: 96%;
    margin: auto;
  }
  #about-content .image {
    position: relative;
    width: 100%;
    max-width: 20em;
    height: 20em;
    margin: auto;
    margin-bottom: 2.5em;
  }
  #about-content .image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #about-content .property__content {
    margin-bottom: 2rem;
  }
  #about-content .services__contents {
    margin-bottom: 2rem;
  }

  #about-content .content .topper {
    font-size: 0.7em;
    line-height: 1.35714286;
    color: var(--primary);
    letter-spacing: 0.06em;
    margin-bottom: 0.42857143em;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
  }
  #about-content .content h2 {
    font-size: 1.8em;
    line-height: 1.16666667;
    color: #000;
    font-weight: 900;
    margin-bottom: 0.66666667em;
    position: relative;
  }
  #about-content .content h2:before {
    content: "";
    position: absolute;
    display: block;
    height: 4.16666667em;
    width: 4.16666667em;
    background: var(--primary);
    opacity: 0.05;
    top: -1.38888889em;
    left: -1.38888889em;
    z-index: -1;
  }
  #about-content .content .decoration {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.9em;
  }
  #about-content .content .decoration img {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-right: 0.75em;
  }
  #about-content .content .decoration .line {
    width: 80%;
    height: 1px;
    background: #10625e;
  }
  #about-content .content p {
    font-size: 0.9em;
    line-height: 1.5;
    color: #595959;
  }

  #about-content .key__details .detail__title {
    margin-bottom: 0.5rem;
    color: var(--primary);
    font-weight: 700;
  }

  #about-content .key__details {
    margin-top: 2rem;
  }

  .about__paragraph__container {
    margin: 2rem auto;
  }

  .about__paragraph__container .paragraphs {
    margin-bottom: 2rem;
  }

  .about__paragraph__container .paragraphs span {
    margin-bottom: 2rem;
    color: #10625e;
    font-weight: 600;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #about-content {
    padding-top: 10em;
  }
  #about-content .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 57.2em;
  }
  #about-content .image {
    margin: 0;
    max-width: 20em;
  }
  #about-content .content {
    width: 27.5em;
    margin-left: 2.5em;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #about-content .image {
    max-width: 25em;
  }
}
/*-- -------------------------- -->
  <---           Staff            -->
  <--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #staff {
    padding-top: 5em;
  }
  #staff .container {
    width: 90%;
    margin: auto;
  }
  #staff .topper {
    font-size: 0.7em;
    line-height: 1.35714286;
    color: #0e817c;
    letter-spacing: 0.06em;
    margin-bottom: 0.42857143em;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto;
    text-align: center;
  }
  #staff h2 {
    font-size: 2.1em;
    line-height: 1em;
    font-weight: 900;
    text-align: center;
    display: block;
    margin-bottom: 0.47619048em;
    position: relative;
  }
  #staff h2:before {
    content: "";
    position: absolute;
    height: 3.57142857em;
    width: 3.57142857em;
    background: var(--primary);
    opacity: 0.05;
    top: -1.19047619em;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  #staff .main-p {
    font-size: 0.9em;
    color: #595959;
    text-align: center;
    width: 90%;
    max-width: 35em;
    margin: auto;
    margin-bottom: 3.88888889em;
  }
  #staff .member {
    margin-bottom: 3.75em;
    width: 100%;
    max-width: 20em;
  }
  #staff .member .image {
    position: relative;
    width: 100%;
    max-width: 20em;
    height: 20em;
    margin: auto;
    margin-bottom: 2.5em;
  }
  #staff .member .image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #staff .member .desc {
    border-left: 5px solid var(--primary);
    padding-left: 20px;
  }
  #staff .member h3 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 0em;
  }
  #staff .member .title {
    font-size: 0.8em;
    line-height: 1.6875;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #10625e;
    margin-bottom: 1.5em;
    display: block;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #staff .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 96%;
    max-width: 57.2em;
    padding: 0;
  }
  #staff .member {
    margin: 0;
    margin-bottom: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: none;
  }
  #staff .member .image {
    width: 40%;
    margin: 0;
    margin-right: 2.5em;
  }
  #staff .member .content {
    width: 60%;
  }
  #staff .member .content .title {
    color: #10625e;
  }
}
/* Small Desktop */
/* Large Desktop */

.about__staff,
.services__why__choose__us {
  background: #efefef;
}
