/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/
/* main {
  min-height: 50em;
} */
/* Mobile */
@media only screen and (min-width: 0em) {
  #hero {
    font-size: inherit;
    padding-bottom: 13.5em;
    padding-top: 5em;
    position: relative;
    z-index: 1;
  }

  .header__container {
    min-height: 100vh;
    background: linear-gradient(
        90deg,
        #111926 25.41%,
        rgba(17, 25, 38, 0.76) 34.98%,
        rgba(17, 25, 38, 0.74) 62.53%
      ),
      url(/images/home-m.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  #hero .hero-content {
    width: 96%;
    max-width: 57.2em;
    margin: auto;
    position: relative;
    z-index: 10;
  }
  #hero .hero-content {
    padding: 0 0.8rem;
  }
  #hero .heroText {
    width: 100%;
    max-width: 28.9em;
  }
  #hero h1 {
    font-weight: bold;
    font-size: 2.8em;
    color: #fff;
    line-height: 1.17857143;
    margin-bottom: 0.41071429em;
  }
  #hero p {
    font-size: 0.9em;
    line-height: 1.5;
    margin-bottom: 1.33333333em;
    color: #e0dfdf;
  }
  #hero .buttons {
    display: flex;
    justify-content: flex-start;
  }
  #hero .button-solid {
    margin: 0;
    margin-right: 2.88888889em;
    height: 2.94444444em;
    padding-top: 0.16666667em;
  }
  #hero .call-now {
    height: 2.94444444em;
    width: 9.11111111em;
    font-size: 0.9em;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin: 0;
  }
  #hero .call-now img {
    display: inline-block;
    width: 1.16666667em;
    height: 1.16666667em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    padding: 3px;
    margin-right: 0.5rem;
  }
  #hero .call-now .dark {
    display: none;
  }
  #hero .call-now span {
    display: block;
    color: #fff;
  }
  #hero .call-now .text {
    font-size: 0.6em;
    line-height: 1.16666667;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }
  #hero .call-now .number {
    font-weight: bold;
    line-height: 1.16666667;
    font-size: 1em;
  }
  #hero .business-casual {
    display: none;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #hero {
    padding: 5.15em 0 11.45em 0;
    z-index: 1;
    overflow: hidden;
  }
  #hero .hero-content {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  #hero .business-casual {
    display: block;
    width: 17.5em;
    position: absolute;
    right: 0;
    top: -3.5em;
  }

  .header__container {
    min-height: 100vh;
    background: linear-gradient(
        90deg,
        #111926 25.41%,
        rgba(17, 25, 38, 0.76) 34.98%,
        rgba(17, 25, 38, 0.74) 62.53%
      ),
      url(/images/property-landscape.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #hero {
    padding-top: 10em;
    padding-bottom: 14em;
    background-attachment: fixed;
  }
  #hero .business-casual {
    right: 2.5em;
  }

  .header__container {
    min-height: 100vh;
    background: linear-gradient(
        90deg,
        #111926 25.41%,
        rgba(17, 25, 38, 0.76) 34.98%,
        rgba(17, 25, 38, 0.74) 62.53%
      ),
      url(/images/property-landscape.jpg);
    background-size: cover;
    object-fit: contain;
    background-repeat: no-repeat;
  }

  .heroText {
    margin-top: -1.5rem;
  }
}
/* Large Desktop */

/* gallery */
/* Mobile */
@media only screen and (min-width: 0em) {
  .gallery {
    background: #efefef;
    position: relative;
  }
  .gallery .content {
    padding-left: 2rem;
  }
  .gallery .promo__gallery {
    width: 100%;
    margin-inline: auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
  }

  .gallery .promo__gallery .image__box {
    width: 100%;
    height: auto;
    position: relative;
    /* height: 60vh; */
  }

  .gallery .promo__gallery .image__box img {
    width: 100%;
    height: 100%;
  }
}

/* Large Phone */
@media only screen and (min-width: 375px) and (max-width: 425px) {
  .gallery .promo__gallery .image__box {
    width: 90%;
    height: auto;
    /* height: 80vh; */
    margin-inline: auto;
  }

  .gallery .promo__gallery .image__box img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .gallery .promo__gallery .image__box {
    width: 60%;
    height: auto;
    /* height: 80vh; */
    margin-inline: auto;
  }

  .gallery .promo__gallery .image__box img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 769px) {
  .gallery .promo__gallery {
    width: 85vw;
    /* width: 100%; */
    margin-inline: auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .gallery .promo__gallery .image__box {
    width: 60%;
    height: auto;
    /* height: 70vh; */
    margin-inline: auto;
  }

  .gallery .promo__gallery .image__box img {
    width: 100%;
    height: 100%;
  }

  .gallery .contact__gallery {
    width: 65vw;
    /* width: 100%; */
    margin-inline: auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .gallery .contact__gallery .image__box {
    width: 60%;
    height: auto;
    /* height: 75vh; */
    margin-inline: auto;
  }
}

/*-- -------------------------- -->
  <---          Services          -->
  <--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #services {
    padding-top: 0;
    margin-top: -6em;
    display: flex;
    flex-direction: column-reverse;
    z-index: 100;
    position: relative;
    border: none;
  }
  #services .service {
    /* background: #10625e; */
    background: #0e817c;
    padding: 2.1em;
    width: 90%;
    margin: auto;
  }
  #services .service:nth-of-type(2) {
    border-bottom: 0.05em solid rgba(73, 181, 176, 0.5);
  }
  #services .service:nth-of-type(2) {
    background: #10625e;
    /* background: #10625e; */
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    order: 1;
    margin-bottom: 0;
    padding-bottom: 3rem;
  }
  #services .service:nth-of-type(2) .button-solid {
    color: #10625e;
  }
  #services .service:nth-of-type(2) .button-solid:before {
    background: var(--primary);
  }
  #services .service:nth-of-type(2) .button-solid:hover {
    color: #fff;
  }
  #services .service h2 {
    color: #fff;
    font-size: 1.2em;
    line-height: 1.16666667;
    margin-bottom: 0.625em;
    text-align: left;
    font-weight: 900;
  }
  #services .service h2 span {
    display: block;
    color: #fff;
  }
  #services .service p {
    color: #fff;
    font-size: 0.9em;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 1.66666667em;
    opacity: 1;
  }
  #services .service .button-solid {
    background: #fff;
    color: #10625e;
  }
  #services .service .button-solid:hover {
    color: #fff;
  }
}
/* Large Phone */
@media only screen and (min-width: 600px) and (max-width: 790px) {
  #services {
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #services .service:nth-of-type(1) {
    border-right: 0.05em solid rgba(255, 255, 255, 0.05);
  }
  #services .service:nth-of-type(1),
  #services .service:nth-of-type(3) {
    width: 50%;
    border-radius: 0;
  }
  #services .service:nth-of-type(2) {
    order: -1;
  }
  #services .service:nth-of-type(2) h2,
  #services .service:nth-of-type(2) p {
    text-align: center;
    max-width: 20em;
    margin-left: auto;
    margin-right: auto;
  }
  #services .service:nth-of-type(2) .button-solid {
    margin: auto;
    display: block;
  }
}
/* Tablet */
@media only screen and (min-width: 791px) {
  #services {
    flex-direction: row;
    align-items: flex-end;
    width: 96%;
    max-width: 57.2em;
    margin: auto;
    margin-top: -6.5em;
    position: relative;
    z-index: 100;
    padding: 0;
  }
  #services .service {
    margin: 0;
    width: 18.6em;
    height: auto;
    border-radius: 0.25em 0.25em 0 0;
  }
  #services .service:nth-of-type(2) {
    order: initial;
    width: 20em;
    height: 17.25em;
    border: none;
  }
  #services .service:last-of-type {
    border-radius: 0.25em 0.25em 0 0;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #services {
    margin-top: 3rem;
  }
  #services .service:nth-of-type(2) {
    box-shadow: none;
  }
}
/* Large Desktop */

/* faq */

/* Mobile */
@media only screen and (min-width: 0em) {
  #faq .faq-container {
    padding: 0;
    width: 96%;
    margin: auto;
  }

  #faq .content .topper {
    font-size: 0.7em;
    line-height: 1.35714286;
    color: var(--primary);
    letter-spacing: 0.06em;
    margin-bottom: 0.42857143em;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
  }
  #faq .content h2 {
    font-size: 1.8em;
    line-height: 1.16666667;
    color: #000;
    font-weight: 900;
    margin-bottom: 0.66666667em;
    position: relative;
  }
  #faq .content h2:before {
    content: "";
    position: absolute;
    display: block;
    height: 4.16666667em;
    width: 4.16666667em;
    background: var(--primary);
    opacity: 0.05;
    top: -1.38888889em;
    left: -1.38888889em;
    z-index: -1;
  }
  #faq .content .decoration {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.9em;
  }
  #faq .content .decoration img {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-right: 0.75em;
  }
  #faq .content .decoration .line {
    width: 80%;
    height: 1px;
    background: #10625e;
  }

  #faq .faq-faq-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
  }
  #faq .faq-faq-item {
    list-style: none;
    width: 100%;
    /* clips all corners of the button that overlap the rounded border */
    overflow: hidden;
    transition: border-bottom 0.3s;
  }
  #faq .faq-faq-item.active .faq-button {
    background-color: #106252;
    color: #fff;
  }
  #faq .faq-faq-item.active .faq-button:before {
    background-color: var(--primary);
    transform: rotate(315deg);
  }
  #faq .faq-faq-item.active .faq-button:after {
    background-color: var(--primary);
    transform: rotate(-315deg);
  }
  #faq .faq-faq-item.active .faq-item-text {
    height: auto;
    /* 16px - 24px */
    padding: 1rem clamp(1rem, 2vw, 1.5rem);
    opacity: 1;
    border: 1px solid #e8e8e8;
  }
  #faq .faq-button {
    /* 16px - 20px */
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    font-weight: bold;
    line-height: 1.2em;
    text-align: left;
    width: 100%;
    padding: 1rem;
    padding-left: 3.25rem;
    background-color: transparent;
    color: #222;
    border: 1px solid #e8e8e8;
    display: block;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
  }
  #faq .faq-button:hover {
    cursor: pointer;
  }
  #faq .faq-button:before {
    /* left line */
    content: "";
    width: 0.5rem;
    height: 0.125rem;
    background-color: var(--primary);
    opacity: 1;
    display: block;
    position: absolute;
    top: 45%;
    left: 1.125rem;
    transform: rotate(45deg);
    transition: transform 0.5s;
    /* animate the transform from the left side of the x axis, and the center of the y */
    transform-origin: left center;
  }

  #faq .faq-button:after {
    /* right line */
    content: "";
    width: 0.5rem;
    height: 0.125rem;
    background-color: var(--primary);
    opacity: 1;
    display: block;
    position: absolute;
    top: 45%;
    left: 1.3125rem;
    transform: rotate(-45deg);
    transition: transform 0.5s;
    /* animate the transform from the right side of the x axis, and the center of the y */
    transform-origin: right center;
  }
  #faq .faq-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    height: 0;
    margin: 0;
    /* clips the text so it doesn't show up */
    overflow: hidden;
    color: #444;
    opacity: 0;
    transition: opacity 0.3s, padding-bottom 0.3s;
  }
}

/* Large Phone */
@media only screen and (min-width: 600px) and (max-width: 790px) {
  #faq .faq-faq-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
  }
}

/* tablet */
@media only screen and (min-width: 768px) {
  #faq .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 57.2em;
  }

  #faq .faq-container .content {
    width: 20em;
    padding-left: 4rem;
    margin-bottom: 3rem;
  }

  .faq-flex-group {
    width: 70%;
    margin-left: 5rem;
  }
}

/* small desktop */
@media only screen and (min-width: 64em) {
  #faq {
    padding-top: 10em;
  }
  #faq .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 57.2em;
  }

  #faq .content {
    width: 27.5em;
    margin-left: 6rem;
    margin-bottom: 4rem;
  }

  .faq-flex-group {
    width: 70%;
    margin-left: 5rem;
  }
}

/* stats */
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats {
    padding-block: 2rem;
    background-color: #013a38;
  }
  #stats .stats-card-group {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 37.5em;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
  }
  #stats .stats-item {
    list-style: none;
    width: 14.6875rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #stats .stats-picture {
    width: 5rem;
    height: 5rem;
    /* 12px - 20px */
    margin-right: clamp(0.75rem, 3vw, 1.25rem);
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #stats .stats-icon {
    width: 2rem;
    height: auto;
  }
  #stats .stats-flex-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  #stats .stats-number {
    font-size: var(--headerFontSize);
    color: #fff;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    display: block;
  }
  #stats .stats-desc {
    font-size: 1rem;
    line-height: 1.5em;
    color: #dddddd;
    display: block;
  }
}
/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
  #stats .stats-card-group {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 2rem;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #stats {
    margin-bottom: 4rem;
  }
  #stats .stats-card-group {
    max-width: 80rem;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-bottom: 2rem;
    box-sizing: border-box;
  }

  #stats .stats-number {
    font-size: 1.6rem;
    font-weight: 400;
  }

  #stats .stats-desc {
    font-size: 1.3rem;
  }
}
